input {
  width: 60%;
  margin-left: 50px;
}

label {
  margin-left: 50px;
}
h4 {
  margin-left: 600px;
}

form {
  padding: 20px;
  margin-left: 200px;
  margin-top: 40px;
  width: 60%;
  border-style: inset;
  border-radius: 10px;
  border-color: black;
  box-shadow: 2px 3px 4px yellow;
}

form:hover {
  color: rgb(174, 155, 11);
  background-color: rgb(40, 40, 40);
  transform: scale(1.2);
}

button {
  margin-left: 100px;
}

span {
  width: 60%;
  margin-left: 100px;
}
