<div class="container">
  <h1>
    Your bag total is
    {{ totalPrice(cart) | currency : "INR" : "symbol" : "3.0" }}
  </h1>
  <hr />
  <div class="row">
    <div class="col-sm">
      <h3>Course Image</h3>
    </div>
    <div class="col-sm">
      <h3>Course Name</h3>
    </div>
    <div class="col-sm">
      <h3>Quantity</h3>
    </div>
    <div class="col-sm">
      <h3>Fees</h3>
    </div>
    <div class="col-sm">
      <h3>Remove item</h3>
    </div>
  </div>
  <hr />
  <div class="container" *ngFor="let item of cart">
    <div class="row">
      <div class="col-sm">
        <img src="{{ item.img }}" />
      </div>
      <div class="col-sm">
        <h3>{{ item.name }}</h3>
      </div>
      <div class="col-sm">
        <h3>{{ item.quantity }}</h3>
      </div>
      <div class="col-sm">
        <h3>{{ item.fees }}</h3>
      </div>
      <div class="col-sm">
        <button class="btn btn-danger m-3" (click)="delete(item)">
          Remove item
        </button>
      </div>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="col-lg-7">
      <a class="btn btn-dark m-3" (click)="onClick()">Shop More</a>
      <button type="submit" class="btn btn-primary" (click)="makePayment(totalPrice(cart))">Submit</button>
      <button class="btn btn-default"><a href="https://buy.stripe.com/test_6oE5mm0g0eu34kodQS">BUY</a></button>
      <a
        class="btn btn-dark m-3"
        href="https://rzp.io/i/Xk6f9RWk8i"
        target="_blank"
        >CheckOut</a
      >
    </div>
    <div class="col-lg-5">
      <div>
        <h3>Total: {{ totalPrice(cart) | currency : "INR" }}</h3>
      </div>
    </div>
  </div>
</div>
