<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="career">Career</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Our Goals
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"></a></li>
            <li>
              <a class="dropdown-item" routerLink="tutorial">Tutorials</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="products">Uniforms</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="trainees">Top Performers</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <!-- We use the queryParams property of the routerlink directive to add the query parameter.  -->
              <a
                class="dropdown-item"
                [routerLink]="['courselist']"
                [queryParams]="{ pageNum: pageNum }"
                >Course List</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="training"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Training
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="current"
                >CURRENT TRAININGS</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="upcoming"
                >UPCOMING TRAININGS</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="course" tabindex="-1">Course</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="form-group">
          <!-- size="50" -> no. of characters -->
          <!-- binding the query parameter  -->
          <input
            type="text"
            class="form-control"
            placeholder="Search Course from Our Goals/Course List"
            [(ngModel)]="pageNum"
            [ngModelOptions]="{ standalone: true }"
            size="50"
          />
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="signin"
              >SIGN IN</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="signup"
              >SIGN UP</a
            >
          </li>
          <button routerLink='cartitem' style="height:5px;border:none;" >
            <span class="fa fa-cart-plus" style="font-size:16px;color:black"><sup class="text-warning" style="font-size:10px;margin-left: 3px;;">{{cartCount}}</sup></span>
          </button> &nbsp;&nbsp;&nbsp;
        </ul>
      </form>
    </div>
  </div>
</nav>
