<h1 class="yellow">Welcome to Career Component - DIRECTIVES</h1>
<div
  *ngFor="let course of CourseDetails"
  [ngSwitch]="course.Status"
  style="margin-top: auto"
>
  <div class="row">
    <div class="col-lg-3">
      <img [src]="course.img"/>
    </div>
    <div class="card col-lg-6 data" style="margin-top: 50px">
      <div class="card-body col-lg-12">
        <div class="row" style="margin-top: 10px">
          <div *ngSwitchCase="'Active'" class="text-success">
            {{ course.CourseName }}
            <br />
            {{ course.CourseDescription }}
            <br />
            {{ course.Status }}
          </div>
          <div *ngSwitchDefault class="text-danger">
            {{ course.CourseName }}
            <br />
            {{ course.CourseDescription }}
            <br />
            {{ course.Status }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 m-5 pl-5">
      <app-info></app-info>
    </div>
  </div>
</div>
