h1{
    color:blue;
}
p{
    color:blueviolet;
    background-color: beige;
}
img{
    height:100px;
    width:200px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    border-color: black;
    border-style: groove;
    border-radius: 20px;

}
.data{
    height:100px;
    width:600px;
    margin-top: 100px;

}