input {
  width: 60%;
  margin-left: 100px;
}

label {
  color: red;
  margin-left: 100px;
}

form {
  padding: 20px;
  margin-left: 500px;
  width: 40%;
  border-style: inset;
  border-radius: 10px;
  border-color: black;
  box-shadow: 2px 3px 4px yellow;
}

form:hover {
  color: rgb(174, 155, 11);
  background-color: rgb(40, 40, 40);
  transform: scale(1.2);
}

button {
  margin-left: 230px;
}

span {
  width: 100%;
}
