<!-- LAZY LOADING -->
<p>
  What is Lazy Loading?<br />
  Lazy loading is the process of loading components, modules, or other assets of
  a website as they're required. Since Angular creates a SPA (Single Page
  Application), all of its components are loaded at once. This means that a lot
  of unnecessary libraries or modules might be loaded as well. For a small
  application this would be okay. But as the application grows the load time
  will increase if everything is loaded at once. Lazy loading allows Angular to
  load components and modules as and when they're needed.
</p>
<button
  style="padding: 20px; color: white; background-color: green"
  routerLink="a"
>
  Load Module A
</button>
<button
  style="padding: 20px; color: white; background-color: blue"
  routerLink="b"
>
  Load Module B
</button>
<hr/>
<!-- <h1 class="yellow">Welcome to Home Component - DATA BINDING</h1> -->
<!-- String Interpolation -->
<div class="container">
  <div class="row">
    <div class="col col-lg-6 colstyle">
      <p>STRING INTERPOLATION</p>
      <hr />
      <p>Hi!!!{{ name }}... Welcome Back!!! {{ count }}</p>
      <p>{{ name }} is a {{ getDetails() }}</p>
      <p>{{ 10 + 10 }}</p>
      <p>Largest number:{{ getLarge(100, 1000) }}</p>
      <!-- Property Binding -->
      <hr />
      <p>Property Binding</p>
      <hr />
      <h4 [innerText]="title"></h4>
      <button [disabled]="isDisabled">I am Disabled</button>
      <hr />
      <!-- Property Binding - Content Security -->
      <p>Property Binding - Content Security</p>
      <hr />
      <p [textContent]="injectText"></p>
      <img [src]="imgUrl" height="100px" width="100px" />
      <br />
      <br />
      <img bind-src="imgUrl" height="100px" width="100px" />
      <p [style.color]="color">Property Binding - Style Attribute</p>
    </div>
    <div class="col col-lg-6 colstyle">
      <!-- Event Binding -->
      <p>Event Binding</p>
      <hr />
      <h5>Event Binding {{ count }}</h5>
      <p>Single method invoked</p>
      <button (click)="click()">Click me!!!</button>
      <p>Count value : {{ count }}</p>
      <p>Multiple methods invoked</p>
      <button (click)="click(); count1 = count">
        Click me to access 2 properties!!!
      </button>
      <p>Count value : {{ count }}</p>
      <p>Count 1 value : {{ count1 }}</p>
      <!-- $event payload -->
      <hr />
      <p>$event payload</p>
      <hr />
      <input (input)="getValue($event)" />
      <p>Event Payload:{{ value }}</p>
      <!-- Template reference variable -->
      <hr />
      <p>Template reference variable</p>
      <hr />
      <input #val (input)="getValue1(val)" />
      <p>Template Reference:{{ value1 }}</p>
      <!-- Key event filtering -->
      <hr />
      <p>Key event filtering</p>
      <hr />
      <input (keyup)="value2 = $any($event.target).value" />
      <p>Keyup:{{ value2 }}</p>
      <input (keyup.enter)="value3 = $any($event.target).value" />
      <p>Keyup with enter:{{ value3 }}</p>
      <input (keyup.control.shift.enter)="value4 = $any($event.target).value" />
      <p>Keyup with control.shift.enter:{{ value4 }}</p>
      <input
        (keyup.enter)="value5 = $any($event.target).value"
        (keyup.escape)="$any($event.target).value; value5 = ''"
      />
      <p>Keyup with enter and escape:{{ value5 }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-6 colstyle">
      <!-- Two-way Binding -->
      <p>Two-way Binding</p>
      <hr />
      <input type="text" name="value" [(ngModel)]="value6" />
      <p>Two-way Binding:{{ value6 }}</p>
      <button (click)="clear()">Clear Value6</button>
      <hr />
      <p>DIRECTIVES</p>
      <hr />
      <!-- *ngFor -->
      <p>*ngFor</p>
      <hr />
      <h3>Trainees Details*ngFor Example</h3>
      <ul>
        <li *ngFor="let trainee of trainees">
          Trainee ID: {{ trainee.traineeId }}<br />
          Trainee Name: {{ trainee.traineeName }}
        </li>
      </ul>
      <!-- ngSwitch - *ngSwitchCase , *ngSwitchDefault -->
      <hr />
      <p>ngSwitch - *ngSwitchCase , *ngSwitchDefault</p>
      <hr />
      <div class="card">
        <div class="card-header">ngSwitch Example</div>
        <div class="card-body">
          Enter Number:<input type="text" [(ngModel)]="num" />
          <div [ngSwitch]="num">
            <div *ngSwitchCase="1">Arun</div>
            <div *ngSwitchCase="2">Sharon</div>
            <div *ngSwitchCase="3">Hemanth</div>
            <div *ngSwitchCase="4">Srikanth</div>
            <div *ngSwitchCase="5">Vignesh</div>
            <div *ngSwitchCase="6">Sivabharath</div>
            <div *ngSwitchDefault>No Trainee</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 colstyle">
      <!-- Pipes -->
      <p>PIPES</p>
      <hr />
      DATE PIPES <br />
      DEFAULT: {{ toDate }}
      <br />
      {{ toDate | date : "dd-MMMM-yyyy HH:MM:SS" }}
      <br />
      STRING PIPES<br />
      {{ stringPipe | uppercase }}<br />
      {{ stringPipe | lowercase }}<br />
      {{ stringPipe | slice : 0 : 6 | uppercase }}<br />
      {{ stringPipe | slice : -4 | lowercase }}
      CURRENCY PIPES<br />
      {{ price }}<br />
      {{ price | currency }}
      {{ price | currency : "INR" }}
      PERCENT PIPES<br />
      {{ percentage }}
      {{ percentage | percent }}
      DECIMAL PIPES<br />
      {{ average }}
      {{ average | number : "2.1-4" }}
      CUSTOM PIPE<br />
      {{ numberCustom }}<br />
      {{ numberCustom | custompipe }}
    </div>
  </div>
</div>
